.MuiInput-underline-436:after {
  border-bottom-color: #9c27b0 !important;
}
.MuiListItem-root-180.MuiListItem-selected-190, .MuiListItem-root-180.MuiListItem-selected-190:hover {
  background-color: #9c27b0 !important;
}

.MuiSelect-select-463:focus {
  background: transparent;
  border-radius: 0;
}
.MuiInput-underline-436:hover:not(.MuiInput-disabled-435):not(.MuiInput-focused-434):not(.MuiInput-error-437):before {
 border-bottom: none;
}
.MuiFormLabel-root-425.MuiFormLabel-focused-426 {
  color: #AAAAAA !important;
}
.MuiInput-underline-436:hover:not(.MuiInput-disabled-435):not(.MuiInput-focused-434):not(.MuiInput-error-437):before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.87) !important;
}